@import "_utilities";
@import "_animations";
@import "_typography";


/* manual reset */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%; /* the root font-size */
    // font-size: 55%; /* the root font-size */
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-gray-dark;
    // padding: 3rem;
    box-sizing: border-box;
}

.v-align{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
